<!--The content below is only a placeholder and can be replaced.-->
<!-- <div style="text-align:center">
  <h1>
    Hola Inde {{ title }}!
  </h1>
  <h2>{{a+b}}</h2>
  <hr />
  <button [disabled]="!listo"(click)="hacerAlgo()">click me</button>
  <br /> 
  <input type="text" placeholder="Escribe el nombre 1"  [(ngModel)]="nombre1"/>
  <br />
  <input type="text" placeholder="Escribe el nombre 2"  [(ngModel)]="nombre2"/>
  <br>
  Mi nombre es: {{nombre1+" "+nombre2}}
</div> -->



<agm-map [latitude]="lat" [longitude]="lng" [zoom]="zoom">
  <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
</agm-map>
<hr>
<ul>
  <!-- <li>Floreria</li>
  <li>Restaurante</li>
  <li>Veterinaria</li> -->
  <ng-container *ngFor="let lugares of lugares">
    <li *ngIf="lugares.active== false">{{lugares.nombre}}</li>
  </ng-container>
</ul>
<!-- <ul>
  <ng-container *ngFor="let lugares of lugares; let i=index" [ngSwitch]="lugares.cercania">
    <li [ngStyle]="{color:(lugares.active==false) ? 'green' : 'blue'}" [ngClass]="{numero_par:(i+1)%2==1}">{{lugares.nombre}}
      <span *ngSwitchCase="1" [ngStyle]="{color: 'green'}">Muy cercano</span>
      <span *ngSwitchCase="2" [ngStyle]="{color: 'black'}">Cercano</span>
      <span *ngSwitchCase="3" [ngStyle]="{color: 'red'}">Lejano</span>
    </li>
  </ng-container>

</ul> -->

<ul>
  <ng-container *ngFor="let lugares of lugares">
    <li [ngStyle]="{color:(lugares.active)?'black':'gray'}">{{lugares.nombre}}</li>
  </ng-container>
</ul>
